body {
    margin: 0;
    background-color: rgb(255, 255, 255);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(30, 30, 30);
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0mm 1mm 1mm rgba(95, 95, 95, 0.5);
}

nav li {
    float: left;
}

nav .left_button {
    float: right;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.present_page_button) {
    background-color: rgb(20, 20, 20);
}

.present_page_button {
    background-color: #ff0000c0;
}