body {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
    box-shadow: 0mm 1mm 1mm rgba(95, 95, 95, 0.5);
    background-color: rgb(30, 30, 30);
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-align: left;
}

nav div {
    display: none;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 45px;
    width: 25%;
    box-shadow: 0mm 1mm 1mm rgba(95, 95, 95, 0.5);
    background-color: rgb(30, 30, 30);
    border-radius: 0px 0px 10px 10px;
}

nav .current-page {
    flex: 1;
}

nav .dropdown {
    display: none;
}

nav .close-menu {
    display: none;
    padding: 5px 14.5px 5px 13px;
    font-size: 200%;
    max-height: 47px;
}

nav .hamburger-menu {
    max-width: 43px;
}

@media only screen and (min-width: 600px) {
    nav div, nav .hamburger-menu, nav .close-menu {
        display: none;
    }
    nav .dropdown {
        display: flex;
        flex-direction: row;
    }
    nav .spacer {
        flex: 1;
    }
    nav a:hover:not(.current-page, .spacer) {
        background-color: rgb(20, 20, 20);
    }
    nav .current-page {
        flex: 0;
        background-color: #ff0000c0;
    }
}