#login_form_div {
    background-color: white;
    position: absolute;
    top: 15%;
    left: 40%;
    border-radius: 3mm;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
    padding: 12px;
}

#registration_form_div {
    background-color: white;
    display: none;
    border-radius: 3mm;
    position: absolute;
    top: 10%;
    left: 30%;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
}

.close_button {
    text-align: right;
    padding-right: 10px;
    font-size: 28px;
    font-weight: bold;
}

.close_button:hover {
    cursor: pointer;
}

body {
    background-color: rgb(240, 240, 240);
}