body {
    padding: 1%;
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.go_back {
    text-decoration: none;
    display: inline-block;
    padding: 4px 10px;
    background-color: #ff0000c0;
    color: white;
    box-shadow: 0.8mm 0.8mm 0.8mm rgba(0, 0, 0, 0.2);
    border-radius: 20%;
    position: absolute;
    top: 1%;
    left: 1%;
}

.go_back:hover {
    background-color: rgba(226, 226, 226, 0.678);
    color: black;
}

img {
    border-radius: 1.5%;
}

h3 {
    margin-top: 3%;
}

h1 {
    margin-top: 5%;
    margin-bottom: 0;
    font-size: 5em;
}

.written-by {
    padding-left: 0.8%;
    color: rgba(0, 0, 0, 0.65);
}

.table {
    margin: 0 2.5%;
    max-width: 95%;
}

.table .column-1 {
    width: 4%;
}

.table .column-2 {
    width: 14%;
}

.table .column-3 {
    width: 72%;
}